.expenses-transactions-container {
  width: 100%;
}

.expenses-transaction {
  min-height: 40px;
  padding: 0px 10px;
  flex-wrap: nowrap;
  column-gap: 10px;
  background-color: $first-color;
  &-part1 {
    justify-content: flex-start;
    flex-wrap: wrap;
    column-gap: 30px;
    &-title {
      flex-grow: 2;
      overflow: hidden;
    }
    &-date {
      width: 90px;
      flex-grow: 1;
    }
    &-amount {
      width: 90px;
      font-size: 1.3rem;
      font-weight: 500;
      flex-grow: 1;
    }
  }
}

.forms-buttons {
  display: flex;
  column-gap: 10px;
  width: 100%;
  padding-bottom: 5px;
  &-icon {
    cursor: pointer;
    border-radius: $border-radius;
    background-color: $second-color;
    padding: 8px;

    &:hover {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
    }

    &:active {
      box-shadow: rgb(204, 219, 232) 1px 1px 2px 0px inset,
        rgba(255, 255, 255, 0.5) -1px -1px 2px 1px inset;
    }
  }
  i {
    font-size: 1.2rem;
    color: white;
  }
}

@media only screen and (max-width: $media-screen-width) {
  .expenses-transaction {
    height: 60px;
    &-part1 {
      column-gap: 15px !important;
      width: 90%;
      &-title {
        width: 100%;
      }
      &-amount {
        flex-grow: 1;
      }
      &-date {
        flex-grow: 0;
      }
    }
  }
}
