@import "variables";
@import "buttons";
@import "forms";
@import "app";
@import "expensesTransactions";
@import "input";
@import "ExpensesOverview";
@import "debtCard";
@import "popup";
@import "profile";

h2,
h3 {
  width: 100%;
  text-align: left;
}

.section-title {
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(61, 61, 61, 0.315);
}

nav {
  width: 100%;
}

.no-record-msg {
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 10px $second-color, 0px 0px 10px $second-color,
    0px 0px 10px $second-color;
}

#linkedin:hover {
  color: rgb(4, 77, 160);
  transition: 200ms;
}
#github:hover {
  color: white;
  transition: 200ms;
}
#youtube:hover {
  color: Red;
  transition: 200ms;
}
