.app-container {
  border: 2px solid red;
}

.homepage-container, .app-container {
  row-gap: 20px;
  width: 70%;
  min-height: 100vh;
  text-align: center;
  margin: 0 auto;
}

.homepage-social-icons-container, .homepage-buttons, nav, nav .nav-logo, .dropdown-list .nav-user, .dropdown-list .nav-user-name, .dropdown-list .nav-user-avatar, .dropdown-list-menu-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.homepage-container, .app-container, form, .input-container, .dropdown-list, .dropdown-list-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.primary-button, .secondary-button {
  display: block;
  height: 40px;
  border-radius: 10px;
  font-size: 13pt;
  font-weight: 400;
  letter-spacing: 1.8px;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .homepage-container, .app-container {
    width: 90%;
  }
}

.primary-button {
  color: #ffffff;
  background-color: #001d3d;
  border-style: none;
}

.secondary-button {
  border: 1px solid #001d3d;
  color: #001d3d;
  background-color: transparent;
}

.secondary-button > i,
.primary-button > i {
  font-size: 15pt;
}

.primary-button:hover {
  background-color: #003570;
}

.primary-button:active {
  background-color: #003570;
  -webkit-box-shadow: black 3px 3px 6px 0px inset, rgba(0, 0, 0, 0) -3px -3px 6px 1px inset;
          box-shadow: black 3px 3px 6px 0px inset, rgba(0, 0, 0, 0) -3px -3px 6px 1px inset;
}

.primary-button:disabled {
  background-color: gray;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(104, 104, 104, 0.05) 0px 8px 32px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 16px, rgba(104, 104, 104, 0.05) 0px 8px 32px;
  cursor: not-allowed;
}

.secondary-button:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.secondary-button:active {
  -webkit-box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -5px inset, rgba(0, 0, 0, 0.3) 0px 18px 25px -18px inset;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 5px 5px -5px inset, rgba(0, 0, 0, 0.3) 0px 18px 25px -18px inset;
}

form {
  row-gap: 20px;
  width: 500px;
  padding: 20px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 5px;
  -webkit-animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  animation: scale-up-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.input-container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 5px;
  width: 100%;
}

.input-container label {
  font-size: 1.1rem;
  font-weight: 500;
}

.input-container label span {
  color: red;
}

.input-container input {
  width: 100%;
  height: 35px;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-11 16:47:33
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation scale-up-top
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@keyframes scale-up-top {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 100%;
  }
}

.homepage-container {
  border-color: black;
}

.homepage-container h1 {
  color: #001d3d;
  font-weight: 630;
}

.homepage-social-icons-container {
  -webkit-column-gap: 20px;
          column-gap: 20px;
  color: #001d3d;
  width: 100%;
}

.homepage-social-icons-container a {
  text-decoration: none;
  color: currentColor;
}

.homepage-buttons {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 20px;
          column-gap: 20px;
  row-gap: 20px;
  margin-top: 20px;
}

.app-container {
  min-height: calc(100vh - 80px);
  padding: 20px 0;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav {
  width: 100vw;
  height: 80px;
  background-color: #001d3d;
  padding: 0 calc((100% - 70%) / 2);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-logo {
  -webkit-column-gap: 5px;
          column-gap: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: calc(100% - 3px);
  cursor: pointer;
}

nav .nav-logo-img {
  height: inherit;
}

nav .nav-logo-txt {
  color: #ffffff;
  font-weight: 700;
}

.dropdown-list {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.dropdown-list .nav-user {
  height: 60px;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  cursor: pointer;
}

.dropdown-list .nav-user-name {
  height: 100%;
  color: #ffffff;
}

.dropdown-list .nav-user-avatar {
  height: 100%;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #ffffff;
}

.dropdown-list-menu {
  width: 150px;
  position: absolute;
  background-color: #001d3d;
  top: 75px;
  -webkit-animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
          animation: scale-up-ver-top 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.dropdown-list-menu-item {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
  height: 50px;
  text-decoration: none;
  color: #ffffff;
  -webkit-transition: 500ms;
  transition: 500ms;
  padding-right: 10px;
}

.dropdown-list-menu-item:hover {
  background-color: white;
  color: #001d3d;
}

/* ----------------------------------------------
* Generated by Animista on 2022-2-12 11:13:30
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
* ----------------------------------------
* animation scale-up-ver-top
* ----------------------------------------
*/
@-webkit-keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@keyframes scale-up-ver-top {
  0% {
    -webkit-transform: scaleY(0.4);
    transform: scaleY(0.4);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
  }
}

@media only screen and (max-width: 600px) {
  nav {
    padding: 0 calc((100% - 90%) / 2);
    height: 60px;
  }
  .dropdown-list .nav-user {
    height: 45px;
  }
  .dropdown-list .nav-user-name {
    display: none;
  }
  .dropdown-list-menu {
    top: 55px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  background-color: #ffc300;
}

img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.hyper-link {
  color: #001d3d;
  text-decoration: none;
  font-weight: 900;
  cursor: pointer;
}

.hyper-link:hover {
  color: white;
}
