.add-expenses-container {
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.add-expenses-button-header {
  font-size: 1.8rem;
}

.add-expenses-button-button {
  width: 90px;
  height: 90px;
}

.add-expenses-button-button .round-button {
  font-size: 45pt;
}

@media only screen and (max-width: 600px) {
  .add-expenses-button-header {
    font-size: 1rem;
  }
  .add-expenses-button-button {
    width: 50px;
    height: 50px;
  }
  .add-expenses-button-button .round-button {
    font-size: 15pt;
  }
}

.form-split-fields .input-container {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  width: auto;
}

.form-split-fields .primary-button {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.app-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
  text-align: center;
  margin: 0 auto;
  min-height: calc(100vh - 80px);
  padding: 20px 0;
}

@media only screen and (max-width: 600px) {
  .app-container {
    width: 95%;
  }
}

@media only screen and (min-width: 601px) {
  .app-container {
    width: 50%;
  }
}

nav .dropdown-list .show-menu {
  height: 250px;
}

.expenses-transactions-container {
  width: 100%;
}

.expenses-transaction {
  min-height: 40px;
  padding: 0px 10px;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  background-color: #001d3d;
}

.expenses-transaction-part1 {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.expenses-transaction-part1-date {
  width: 90px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.expenses-transaction-part1-amount {
  width: 90px;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.forms-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 10px;
          column-gap: 10px;
  width: 100%;
  padding-bottom: 5px;
}

.forms-buttons-icon {
  cursor: pointer;
  border-radius: 5px;
  background-color: #003566;
  padding: 8px;
}

.forms-buttons-icon:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
          box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.forms-buttons-icon:active {
  -webkit-box-shadow: #ccdbe8 1px 1px 2px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px 1px inset;
          box-shadow: #ccdbe8 1px 1px 2px 0px inset, rgba(255, 255, 255, 0.5) -1px -1px 2px 1px inset;
}

.forms-buttons i {
  font-size: 1.2rem;
  color: white;
}

@media only screen and (max-width: 600px) {
  .expenses-transaction {
    height: 60px;
  }
  .expenses-transaction-part1 {
    -webkit-column-gap: 15px !important;
            column-gap: 15px !important;
  }
  .expenses-transaction-part1-amount {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.input-container select {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-size: 1rem;
  padding-left: 10px;
}

#form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 20px;
}

.debt-card {
  background-color: #e6b000;
  border-radius: 5px;
  padding: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
}

.debt-card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

.debt-card-header-title {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  font-weight: normal;
  text-align: left;
}

.debt-card-header-title summary {
  cursor: pointer;
}

.debt-card-header-title span {
  font-style: italic;
  font-weight: 500;
  color: red;
}

.debt-card-header-title table {
  width: 100%;
}

.debt-card-header-title table tr td:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.712);
  width: 130px;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 5px;
}

.debt-card-header-title table tr td:last-child {
  padding-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}

.debt-card-header-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 8px;
          column-gap: 8px;
}

.debt-card-header-icons i {
  cursor: pointer;
  font-size: 15pt;
  color: #001d3d;
  font-weight: 50;
}

.debt-card-header-icons i:hover {
  color: red;
}

.debt-transaction {
  min-height: 40px;
  padding: 0px 10px;
  background-color: #001d3d;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 5px;
}

.debt-transaction-part1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 30px;
          column-gap: 30px;
}

.debt-transaction-part1-date {
  width: 90px;
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

.debt-transaction-part1-amount {
  text-align: left;
  width: 90px;
  font-size: 1.3rem;
  font-weight: 500;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.debt-transaction-part2 {
  cursor: pointer;
}

.debt-transaction-part2:hover {
  color: red;
}

.popup-form-bg {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 20;
  background-color: rgba(0, 0, 0, 0.87);
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-form-bg .popup-form {
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-form-bg .popup-form form {
  background-color: #ffc300;
}

.popup-form-bg .popup-form .close-form-btn {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  background-color: #ffc300;
  width: 25px;
  height: 25px;
  -webkit-transform: translate(8px, -8px);
          transform: translate(8px, -8px);
  cursor: pointer;
}

h2,
h3 {
  width: 100%;
  text-align: left;
}

.section-title {
  font-weight: normal;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(61, 61, 61, 0.315);
}

nav {
  width: 100%;
}

.no-record-msg {
  font-size: 2rem;
  margin-top: 10%;
  margin-bottom: 10%;
  font-weight: 600;
  color: white;
  text-shadow: 0px 0px 10px #003566, 0px 0px 10px #003566, 0px 0px 10px #003566;
}

#linkedin:hover {
  color: #044da0;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#github:hover {
  color: white;
  -webkit-transition: 200ms;
  transition: 200ms;
}

#youtube:hover {
  color: Red;
  -webkit-transition: 200ms;
  transition: 200ms;
}
